<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top" id="header">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="biz.html#home">
                <img src="img/global/aizhi-logo.png" alt="logo" class="logo-default" />
                <h1>智慧云控平台</h1>
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="#" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <div class="page-actions" >
            <div class="btn-group" v-cloak>
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{userInfo.tenantName}}
                    <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-scroll" role="menu">
                    <div class="dropdown-search">
                        <div class="input-icon input-icon-sm right">
                            <i class="fa fa fa-search"></i>
                            <input type="text" class="form-control input-sm" placeholder="输入租户编号或者租户名称" v-model="params.tenantName" @keyup="searchTenant">
                        </div>
                    </div>
                    <ul class="scroll-menu">
                        <li v-for="tenant in tenantList">
                            <a href="#" @click="selectTenant(tenant)"> {{tenant.tenantName}} </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="btn-group" v-cloak>
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{userInfo.STORE_NAME_}}
                    <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-scroll" role="menu">
                    <div class="dropdown-search">
                        <div class="input-icon input-icon-sm right">
                            <i class="fa fa fa-search"></i>
                            <input type="text" class="form-control input-sm" placeholder="按门店名称搜索" v-model="params.NAME_" @keyup="searchStore">
                        </div>
                    </div>
                    <ul class="scroll-menu">
                        <li v-for="store in storeList">
                            <a href="#" @click="selectStore(store)">{{store.NAME_}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--<button type="button" class="btn btn-primary" @click="returnStoreList">返回门店列表</button>-->
        </div>
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <span  class="username username-hide-on-mobile" v-cloak>{{userInfo.userName}}</span>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                            <img alt="" class="img-circle" src="img/layout/avatar.png"/>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default" >
                            <li data-action="resetPwd" >
                                <a href="#" @click="accoutSetting" > <i class="icon-lock"></i>企业设置</a>
                            </li>
                            <li data-action="logout">
                                <a href="#" @click="logout"><i class="icon-key"></i>退出登录</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->


