<div class="login-content hidden" id="forgetPasswordViewId">
    <div class="container clearfix">
        <div class="form-signin">
            <div class="form-title text-center">找回密码</div>
            <div class="login-wrap">
                <div class="form-group">
                    <input type="text" name="username" v-model="userInfo.authAccount" class="form-control input-lg" placeholder="手机号"
                           autofocus="autofocus">
                </div>
                <div class="form-group">
                    <div class="input-inline">
                        <input type="text" name="password" v-model="userInfo.authCode" class="form-control input-lg input-idCode" placeholder="验证码" autofocus="autofocus">
                        <button type="button" class="btn btn-login btn-idCode" @click="getVcode">发送验证码</button>
                        <button type="button" class="btn btn-login btn-idCode-disabled hidden" id="grayButton">成功发送</button>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" name="username" v-model="userInfo.newPasswd" class="form-control input-lg" placeholder="新密码" autofocus="autofocus">
                </div>
                <button class="btn btn-lg btn-login btn-block" @click="confirmModifyPassword">确定</button>
                <div class="form-group">
                    <a href="#" class="form-link" @click="returnLogin">去登录</a>
                </div>
            </div>
        </div>
    </div>
</div>