<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        魔格生活
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="apple-themes-web-app-capable" content="yes">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="format-detection" content="telephone=no">

    <meta name="description" content=" ">
    <meta name="Keywords" content="">
    <!-- build:style bundle -->
    <!-- /build -->
</head>
<body>
<div class="viewport">
    <!-- build:section layout.header -->
    <!-- /build -->

    <!-- build:section views -->
    <!-- /build -->

    <!-- build:process-->
</div>

<script data-main="js/<%=appMain%>" src="js/lib/require.js"></script>
<!-- /build -->
</body>
</html>
