<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top" id="header">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="biz.html#home">
                <img src="img/global/aizhi-logo.png" alt="logo" class="logo-default" />
                <h1>智慧云控(平台版)</h1>
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="#" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <span  class="username username-hide-on-mobile" v-cloak>{{userInfo.userName}}</span>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                            <img alt="" class="img-circle" src="img/layout/avatar.png"/>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default" >
                            <li>
                                <a @click="returnMer"> <i class="icon-refresh"></i>返回商户版</a>
                            </li>
                            <li data-action="resetPwd" >
                                <a @click="accoutSetting" > <i class="icon-lock"></i>企业设置</a>
                            </li>
                            <li data-action="logout">
                                <a @click="logout"><i class="icon-key"></i>退出登录</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->


