<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse" >
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" id="slider" v-cloak>
            <li v-for="menu in menuList" class="nav-item ">
                <a href="'#'+" @click="toMod(menu.menu_href_)" class="nav-link nav-toggle">
                    <i :class="menu.menu_icon_class_"></i>
                    <span class="title">{{menu.menu_name_}}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li v-for="son in menu.son_menu" class="nav-item">
                        <a href="#" @click="toMod(son.menu_href_)" class="nav-link ">
                            <span class="title">{{son.menu_name_}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>