<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>配送服务</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no">
    <meta name="keywords" content="">
    <meta  name="description" content="">
    <link type="text/css" rel="stylesheet" href="css/lib/weui.css">
    <link type="text/css" rel="stylesheet" href="css/lib/jquery-weui.css">
    <link rel="shortcut icon"  href="img/global/favicon.ico" />
    <!-- build:style bundle -->
    <!-- /build -->
</head>
<body>

<div class="page-container">
    <!-- build:section views -->
    <!-- /build -->
</div>

<!-- build:process-->

<script data-main="js/<%=appMain%>" src="js/lib/require.js"></script>
<!-- /build -->
</body>
</html>
