<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon"  href="img/global/favicon.ico" />
    <title>智慧云控平台登录</title>
    <!-- build:style bundle -->
    <!-- /build -->
</head>
<body class="login-body" style="height: 100%;zoom: 1;">
<!-- build:section layout.header -->
<!-- /build -->
<!-- build:section views -->
<!-- /build -->
<!-- build:section layout.footer -->
<!-- /build -->

<!-- build:process-->
<script data-main="js/<%=appMain%>" src="js/lib/require.js"></script>
<!-- /build -->
</body>
</html>
