<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>智慧云控平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content=""
          name="description"/>
    <meta content="" name="author"/>
    <link rel="shortcut icon" href="img/global/favicon.ico"/>


    <!-- build:style bundle -->
    <!-- /build -->
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-fixed page-sidebar-closed-hide-logo">

<!-- build:section layout.header -->
<!-- /build -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<div class="page-container">
    <!-- build:section layout.slider -->
    <!-- /build -->
    <div class="page-view">
        <!-- build:section views -->
        <!-- /build -->
    </div>
</div>

<!-- build:process-->

<div class="actGotop"><i class="icon-arrow-up"></i></div>

<script data-main="js/<%=appMain%>" src="js/lib/require.js"></script>
<!-- /build -->
</body>
</html>
