<section id="section-menu" v-cloak>
    <div class="page-whitebg">
        <div class="page-container">
        <div class="page-top">
            <div class="page-head">
                <a @click="back" class="back" href="#"><i class="ico-back"></i></a>
                <div class="title" v-if="origin.storeName">魔格生活({{origin.storeName}})</div>
                <div class="title" v-else>魔格生活</div>
            </div>
            <div class="main-scan">
                <a href="#" class="action-scan" @click="openScanner"><img src="img/cc-m-biz/scan-lg.png"></a>
                <p>扫一扫魔格二维码进行补换货</p>
            </div>
        </div>
        <div class="page-block">
        <!--<div class="btn-inline clearfix">-->
        <!--<span class="btn-group" v-for="menu in menuList">-->
        <!--<button type="button" class="btn-menu bg-gradient" @click="toMod(menu.mod,menu.init)">{{menu.name}}</button>-->
        <!--</span>-->
        <!--</div>-->
        <div class="weui-grids">
            <a href="#" class="weui-grid js_grid" v-for="menu in menuList" @click="toMod(menu.mod,menu.init)">
                <div class="weui-grid__icon">
                    <img :src="'img/cc-m-biz/ico-'+menu.icon+'.png'" >
                </div>
                <p class="weui-grid__label">
                    {{menu.name}}
                </p>
            </a>
        </div>
    </div>
        </div>
    </div>
</section>
