<section id="section-sellerAlert" class="hidden" v-cloak>
    <div class="page-head bg-gradient">
        <a @click="returnHome" class="back"><span class="ico ico-back"></span></a>
        <div class="title">送货提醒</div>
        <div class="page-head-subscribe" @click="book"><i class="ico-subscribe" ></i>
            <span v-if="bookFlag">取消订阅</span>
            <span v-else >订阅</span>
        </div>
    </div>
    <div class="page-content">
        <div class="weui-tab head-tab ">
            <div class="weui-navbar">
                <a name="waitingNote" class="weui-navbar__item weui-bar__item--on"  @click="waitingNote">
                    <span>待接单</span>
                </a>
                <a name="deliveringNote" class="weui-navbar__item"  @click="deliveringNote">
                    <span>配送中</span>
                </a>
                <a name="closedNote" class="weui-navbar__item" @click="closedNote">
                    <span>已完成</span>
                </a>
            </div>
            <div class="weui-tab__bd">
                <div class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div class="top-alert">您有{{waitingNoteCount}}笔订单待送货！</div>
                    <div class="order-cells">
                        <div class="order-cell" v-for="notice in noticeList">
                            <div class="order-cell-head">
                                <div class="weui-cells mt-0">
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd"><span class="font-md font-gray">送货人：<span class="font-bold font-black">{{notice.deliveryInfo}}</span></span></div>
                                        <div class="weui-cell__bd"><span class="font-xs font-grayer">{{notice.send_time}}</span>
                                            <!--<span class="time">下单时间</span>--></div>
                                    </div>
                                </div>
                            </div>
                            <div class="goods_purchased">
                                <div class="weui-cells goods-cells_order">
                                    <div class="weui-cell" v-for="detail in notice.DeliveryNoteDetail">
                                        <div class="weui-cell__hd">
                                            <div class="goods-img-box">
                                                <img :src="detail.goodsPicture" alt="" class="goods-img">
                                            </div>
                                        </div>
                                        <div class="weui-cell__bd">
                                            <div class="clearfix">
                                                <div class="weui-cell-left fl">
                                                    <div class="font-md">{{detail.goodsNAME}}</div>
                                                </div>
                                                <div class="weui-cell-right fr">
                                                    <div class="font-sm">数量：<span class="font-lg font-bold">{{detail.goodsCount}}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order-cell-foot">
                                <div class="weui-cells mt-0">
                                    <div class="weui-cell">
                                        <div class="weui-cell__bd">
                                            <span class="font-sm">共<span class="font-bold font-lg">{{notice.goodsTotalCount}}</span>件商品</span>
                                        </div>
                                        <div class="weui-cell__ft">
                                            <span v-if="notice.stauts=='1'"><button type="button" class="btn-operate" @click="acceptNote(notice)">接单</button></span>
                                            <span v-else-if="notice.stauts=='3'"><button type="button" class="btn-operate" @click="completeNote(notice)">送达</button></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
